/*-- inicio de la seccion de personal*/



@media(min-width:1200px) {
    .container_pers {
        height: 1000px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 3%;

    }

    .imagen {
        border-radius: 100%;
        height: 170px;
        width: 170px;

    }

    .personal {
        height: 250px;
        width: 800px;
        display: flex;
        padding: 1rem;
        margin-top: 10px;
        background: yellow;
        box-shadow: 10px 10px 10px;
       
    }

    .info_personal {
        height: 160px;
        width: 300px;
        margin-left: 5%;
        

    }
}

/*-- fin de la seccion de personal*/